# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Sphinx
docs/build

# Data
*.csv

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS X Metadata
.DS_Store

# Vim / Editor
*~

# Swap
*.swp
